
*{
    box-sizing: border-box;
  }
  body{
    width: 100%;
    min-height: 100%;
    font-family: 'roboto', sans-serif ;
    font-size: 16px;
    margin: auto;
  }
  
  #wrapper{
    padding-top: 4em;
    max-width: 1024px;
    margin: auto;
  }