
*{
    box-sizing: border-box;
  }
  body{
    width: 100%;
    min-height: 100%;
    font-family: 'roboto', sans-serif ;
    font-size: 16px;
    margin: auto;
  }
  
  #wrapper{
    padding-top: 4em;
    max-width: 1024px;
    margin: auto;
  }

  #chooseLetter{
    padding-top: 2em;
  }

  section{
    display: flex;
  }

  #letter_use{
    align-content: flex-start ;
    justify-content: center;
  }